* {
    box-sizing: border-box;
}

body {
    background-color: #0a0a23;
    color: #ffffff;
}

.heading {
    text-align: center;
    margin: 20px 10px;
}

.rules-container {
    display: none;
}

img {
    height: 15px;
    margin: -2px 5px 0 5px;
}

.rules {
    border: 4px solid rgb(201, 227, 73);
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0 5px;
}

#cscore {
    margin-left: 4px;
}

.score {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.option div {
    text-align: center;
}

button {
    cursor: pointer;
    width: 100px;
    margin: 0 10px 15px 10px;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-color: #feac32;
    border-width: 3px;
}

button:active {
    transform: scale(1.1);
}

.replay-but {
    display: none;
    justify-content: center;
}

.result {
    text-align: center;
}

.won {
    text-align: center;
}


@media(min-width:750px) {
    .rules {
        margin: 0 20vw;
    }
}